<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unit_of_measurement.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @unit_of_measurement.description %>
</p>

<%= link_to 'Edit', edit_unit_of_measurement_path(@unit_of_measurement) %> |
<%= link_to 'Back', unit_of_measurements_path %>
