<p id="notice"><%= notice %></p>

<p>
  <strong>Name scale:</strong>
  <%= @scale.name_scale %>
</p>

<p>
  <strong>Description scale:</strong>
  <%= @scale.description_scale %>
</p>

<p>
  <strong>Min number:</strong>
  <%= @scale.min_number %>
</p>

<p>
  <strong>Max number:</strong>
  <%= @scale.max_number %>
</p>

<p>
  <strong>Conjunto numérico:</strong>
  <%= @scale.number_set.name_number_set %>
</p>

<p>
  <strong>Tipo de escala:</strong>
  <%= @scale.type_of_scale.name_type_scale %>
</p>

<%= link_to 'Edit', edit_scale_path(@scale) %> |
<%= link_to 'Back', scales_path %>
