<%= form_for(@metric) do |f| %>
  <% if @metric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metric.errors.count, "error") %> prohibited this metric from being saved:</h2>

      <ul>
      <% @metric.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :question_ids, :value => @question.id %>
  
    <div class="field">
      <%= f.label :metric_name %><br>
      <%= f.text_field :metric_name %>
    </div>
    <div class="field">
      <%= f.label :description_metric %><br>
      <%= f.text_area :description_metric %>
    </div>

  <%= f.label "Operator"%><br>
    <%= f.select :operator_id, Operator.all.collect {|operator| [operator.name, operator.id]} %>

  <h2>Insert measurement values</h2>

  <div id="measures">
    <%= f.fields_for :measures do |measure| %>
      <%= render "measure_fields", f: measure %>
    <% end %>
  </div>

  
  <div class="actions">
    <%= f.submit %>
    <%= link_to_add_association 'add measure', f, :measures %>
  </div>
<% end %>