<%= form_for(@metric) do |f| %>
  <% if @metric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metric.errors.count, "error") %> prohibited this metric from being saved:</h2>

      <ul>
      <% @metric.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :question_ids, :value => @question.id %>
  
    <div class="field">
      <%= f.label :metric_name %><br>
      <%= f.text_field :metric_name %>
    </div>
    <div class="field">
      <%= f.label :description_metric %><br>
      <%= f.text_area :description_metric %>
    </div>
 <!-- <div class="field">
    <%= f.label :calculus_date %><br>
    <%= f.date_select :calculus_date %>
  </div>-->
  <%= f.label "Operador"%><br>
    <%= f.select :operator_id, Operator.all.collect {|operator| [operator.name, operator.id]} %>

  <h2>Insira o valor das medidas</h2>
  <%= f.fields_for :measures do |measure| %>
    <div class = "measure_fields">
      <%= measure.label :name_measure %><br>
      <%= measure.text_field :name_measure %> <br>
      <%= measure.label :description_measure %><br>
      <%= measure.text_area :description_measure %> <br>
      <%= measure.label :date_measure %> <br>
      <%= measure.date_select :date_measure %><br>
      <%= measure.label :value_measure%> <br>
      <%= measure.text_field :value_measure%> <br>
    </div>
  <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>