<p id="notice"><%= notice %></p>

<p>
  <strong>Name project:</strong>
  <%= @project.name_project %>
</p>

<p>
  <strong>Start date project:</strong>
  <%= @project.start_date_project %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Novo objetivo de medição', new_goal_path(:project => @project.id) %>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
