<p id="notice"><%= notice %></p>


<h1>Listando Objetivos</h1>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>

        <td><%= goal.name %></td>
        <td><%= goal.description %></td>
        <td><%= link_to 'Detalhes', goal %></td>
        <td><%= link_to 'Editar', edit_project_goal_path(:id => goal.id, :project_id => @project.id) %></td>
        <td><%= link_to 'Excluir', goal, method: :delete, data: { confirm: 'Você tem certeza' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Objetivo', new_goal_path(:project => @project.id) %>
