<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @goal.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @goal.description %>
</p>

<%= link_to 'Nova questão', new_question_path(:goal => @goal.id) %>
<%= link_to 'Ver questões desse objetivo', questions_path(:goal => @goal.id) %>
<%= link_to 'Editar', edit_goal_path(@goal) %> |
<%= link_to 'Voltar', goals_path %>
