<p id="notice"><%= notice %></p>

<p>
  <strong>Goal name:</strong>
  <%= @goal.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<%= link_to 'New question', new_question_path(:goal => @goal.id) %>
<%= link_to 'See goal questions', questions_path(:goal => @goal.id) %>
<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
