<p id="notice"><%= notice %></p>

<h1>Listing Measures</h1>

<table>
  <thead>
    <tr>
      <th>Name measure</th>
      <th>Description measure</th>
      <th>Date measure</th>
      <th>Value measure</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @measures.each do |measure| %>
      <tr>
        <td><%= measure.name_measure %></td>
        <td><%= measure.description_measure %></td>
        <td><%= measure.date_measure %></td>
        <td><%= measure.value_measure %></td>
        <td><%= link_to 'Show', measure %></td>
        <td><%= link_to 'Edit', edit_measure_path(measure) %></td>
        <td><%= link_to 'Destroy', measure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Measure', new_measure_path %>
